.products {
	.product-item {
		margin-bottom: 40px;
		img {
			display: none;
		}
		.product-image {
			margin-bottom: 20px;
		    height: 210px;
		    background-position: center;
		    background-size: contain;
		    background-repeat: no-repeat;
		}
		.product-name {
			margin-bottom: 10px;
			font-weight: normal;
			color: #333;
			font-size: 20px;
		}
		p {
			font-weight: normal;
			margin-bottom: 20px;
			color: #6ea913;
			font-size: 16px;
			span {
				font-size: 10px;
			}
		}
	} 
	&.border {
		.sm-4-12 {
			/*border-left: 1px solid #ccc;*/
		}
		.btn {
			background: #3e3e3e;
		}
		p {
			span {
				display: block;
			}
		}
	}
}