.rsvp {
	&-default {
		bg-image(cover, center, '../../img/rsvp.jpg');
	}
	&-pink {
		background: #ffdcdc;
	}
	&-font {
		bg-image(cover, center, '../../img/try.jpg');
		.label {
			font-size: 24px !important;
		}
		.max-width {
			max-width: 630px !important;
		}
	}
	.max-width {
		max-width: 420px;
		margin: 0 auto;
		background: rgba(255, 255, 255, 0.86);
		padding: 15px;
		border-radius: 4px;
		.label {
			font-size: 18px;
		}
	}
	h2 {
		margin-bottom: 20px;
		color: #333;
	}
}