color_theme =  #ff7f7f;
color_theme_dark = lightness(color_theme, 40%);
color_theme_light = lightness(color_theme, 90%);

color_bg = #e8ebf1;
color_bg_dark = lightness(color_bg, 40%);
color_p = #3e3e3e;
    
font_size = 18px;
container = 1170px;

xs = 480px;
sm = 768px;
md = 992px;
lg = 1200px;

max_xs = xs - 1;
max_sm = sm - 1;
max_md = md - 1;
max_lg = lg - 1;
