.alert {
    padding: 10px 0;
    border-radius: 3px;
    margin-bottom: 20px; 
    &-success {
    	background: #d1ffd7;
    }
    &-danger {
    	background: #ffd1d1; 
    }
    p {
    	color: #3b3b3b;
    	&:last-child {
    		margin-bottom: 0;
    	}
    }
} 