.font-rochester {
	font-family: 'Rochester', cursive;
}

.font-montserrrat {
	font-family: 'Montserrat',sans-serif;
	line-height: 1.3;
	font-weight: lighter;
}

.font-dancing {
    font-family: 'Dancing Script',cursive;
}

.font-petit {
	font-family: 'Petit Formal Script',cursive;
}

.part-title {
    font-weight: lighter;
    font-size: 50px;
    color: #ff7f7f;
}
