.sidebar {
	.gallery-item {
		height: 100px !important;
		margin-bottom: 10px;
	}
	.gallery-sidebar {
		p {
			margin-bottom: 0;
		}
	}
	.products .product-item {
		p {
			margin-bottom: 5px;
		}
		h2.product-name {
			margin: 5px 0;
		}
	}
}

.widget-area {
	h2 {
		color: color_theme;
		margin-bottom: 5px;
		font-size: 24px;
		font-family: 'Rochester',cursive;
	}
	.widget-item {
		margin-bottom: 15px;
	}
	.price_slider_amount {
		input {
			display: block !important;
			margin-bottom: 10px;
		}
	}
}