.timer {
	position: relative;
	/*margin-bottom: 40px;*/
	bg-image(cover, center, '../../img/timer.jpg'); 
	&-box {
		background: #fff;
		border-radius: 3px;
		height: 150px;
		max-width: 150px;
		margin: 0 auto 15px auto;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	    .number {
	    	font-size: 60px;
	    	color: #333;
	    }
	    .time {
	    	color: pink_color;
	    	text-transform: uppercase;
	    }
	}
	.container {
		max-width: 720px;
	}
	&.simple {
		bg-image(cover, center, '../../img/timeri.jpg'); 
		.timer-box {
			background: none;
			.time,
			.number {
				color: #fff;
			}
		}
	}

	&.triangle {
		bg-image(cover, center, '../../img/pattern.png'); 
		.timer-box {
			background: none;
			border: 1px solid #fff;
			border-radius: 0;
			.time,
			.number {
				color: #fff;
			}
		}
	}

	&.circle {
		bg-image(cover, center, '../../img/timerII.jpg'); 
		.timer-box {
			background: none;
			border: 2px solid #fff;
			border-radius: 50%;
			height: 130px;
			max-width: 130px;
			@media (min-width: sm) {
				height: 150px;
				max-width: 150px;
			}
		}
	}

	.icon {
		display: block;
		color: #fff;
		margin: 10px 0 20px 0;
		animation: pulse 0.4s ease infinite alternate;
	}
}

.container {
	overflow: hidden;
}